auth_secret           = ""
discord_client_id     = ""
discord_client_secret = ""
discord_state         = ""
discord_bot_token     = ""
do_token              = ""
do_spaces_access_id   = ""
do_spaces_secret_key  = ""
jump_server_ssh_key   = ""
